@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    background: #fff7f9;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #fec8d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #787276;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #898989;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #ff6fff, #d100ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 500px;
    margin-left: -30px;
}

.home-content h1 {
    font-size : 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size : 32px;
    font-weight: 700;
}

.home-content p {
    font-size : 16px;
    margin: 20px 0 40px;
    margin-bottom: 10px;
}

.home-content h3 {
    font-size : 23px;
    font-weight: 700;
    margin-top: 0;
}

.button-terang {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:180px;
    height: 48px;
    background: #ffeff2;
    border-radius: 40px;
    font-size: 19px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    z-index: 1;
}

/* GLOW BLUR*/
.button-terang::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #ff6fff, #d100ff, #ff6fff);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.button-terang:hover::before {
    background-position: 100% 0;
}

/* GRADIENT MAIN*/
.button-terang::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #ff6fff, #d100ff, #ff6fff);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.button-terang:hover:after{
    background-position: 100% 0;
}

.home-sci i {
    font-size: 30px;
    color: #898989;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #ff6fff, #d100ff);
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff6fff, #d100ff);
    border-radius: 50%;
    z-index: -1;
    transform: .5s ease;
}

.home-sci a:hover::before {
    filter: blur(5px);
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff7f9;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transform: .5s ease;
}

.home-sci a:hover::after {
    transform: scale(0);
}

.home-img {
    width: 385px;
    height: 385px;
}

.home-img .glowing-circle {
    position: relative;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 83%;
    height: 83%;
    background: #fff7f9;
    border-radius: 50%;
    z-index: 2;
}

.glowing-circle span {
    position: absolute;
    width: 85%;
    height: 85%;
    background: linear-gradient(45deg, #ff6fff, #d100ff);
    border-radius: 50%;
    z-index: 1;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.glowing-circle .image {
    position : relative;
    width: 83%;
    height: 83%;
    border-radius: 50%;
    z-index: 3;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    max-width: 350px;
    object-fit: cover;
}

/* DARK MODE */

body.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode .header {
    background: #877f7d;
}

.dark-mode .home {
    background: #121212;
}

.dark-mode .logo {
    color: #ffffff;
}

.dark-mode .navbar a {
    color: #ffffff;
}

.dark-mode .home-content {
    color: #ffffff;
}

.dark-mode .home-sci i {
    color: #ffeff2;
}

.dark-mode .home-sci a {
    background: linear-gradient(45deg, #ff6fff, #d100ff);
}

.dark-mode .home-sci a::before {
    background: linear-gradient(45deg, #ff6fff, #d100ff);
}

.dark-mode .home-sci a::after {
    background: #000;
}

/* SMOOTH TRANSITION */
body {
    transition: background 0.4s, color 0.4s;
}

/* KEYWORDS ANIMATION */
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
